.font-l{
    font-size: large;
}

.font-xl{
    font-size: x-large;
}

.responsive{
    width: 100%;
    height:auto
}

.img-round{
    border-radius: 50%;
}

.img-s{
    width: 15rem;
    height: 15rem;
}

.img-m{
    width: 20rem;
    height: 20rem;
}

.img-l{
    width: 25rem;
    height: 25rem;
}

