<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vision UI : Image</title>
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/42dfc9d817.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header-container">
      <h1 class="header-heading">Vision UI</h1>
      <div class="header-link">
        <p class="home-link"><a href="/index.html">Home</a></p>
      </div>
    </header>
    <main>
      <nav>
        <ul class="sidebar">
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/index.html">Get Started</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Avatar/avatar.html"
              >Avatar</a
            >
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Alert/alert.html">Alert</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Badge/badge.html">Badge</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Button/button.html"
              >Button</a
            >
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Card/card.html">Card</a>
          </li>
          <li class="sidebar-link active">
            <a class="sidebarlink" href="/Components/Image/image.html">Image</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Input/input.html">Input</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Text-Utilities/text.html">Text Utilities</a>
          </li>
          <li class="sidebar-link"><a class="sidebarlink" href="/Components/List/list.html">Lists</a></li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="">Navigation</a>
          </li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Model</a></li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="">Rating</a>
          </li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Toast</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Grid</a></li>
        </ul>
      </nav>

      <div class="page-container">
        <h1 class="heading">Image</h1>
        <h1>Square Image</h1>
        <p class="info">The Image component is used to display images.</p>
        <p class="info">
          Below image is 150px square image with 150px height and width
        </p>
        <div class="box">
          <img class="img" src="https://i.pravatar.cc/150?img=2" alt="image" />
        </div>
        <p class="info">
          For Changing image size specify the width and height to class img.
        </p>
        <div class="code-box">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=blackboard&wt=none&l=text%2Fx-c%2B%2Bsrc&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520class%253D%2522img%2520%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F150%253Fimg%253D2%2522%2520alt%253D%2522image%2522%253E%250A%2520"
            style="
              width: 100%;
              height: 206px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>

        <h1>Responsive Image</h1>
        <p class="info">
          If you want the image to scale both up and down on responsiveness, set
          the CSS width property to 100% and height to auto:
        </p>
        <p class="font-l">Below image is example of responsive image</p>
        <div class="box">
          <img
            class="responsive"
            src="https://zermatterhorn.info/wp-content/uploads/2019/03/Kirkjufell-vs.-Matterhorn-Worlds-most-beautiful-mountain-battle-3-1000x600.jpg"
            alt="image"
          />
        </div>
        <div class="code-box">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=blackboard&wt=none&l=text%2Fx-c%2B%2Bsrc&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520class%253D%2522responsive%2522%2520src%253D%2522https%253A%252F%252Fzermatterhorn.info%252Fwp-content%252Fuploads%252F2019%252F03%252FKirkjufell-vs.-Matterhorn-Worlds-most-beautiful-mountain-battle-3-1000x600.jpg%2522%2520alt%253D%2522image%2522%253E"
            style="
              width: 100%;
              height: 223px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <h1>Round Image</h1>
        <div class="box">
          <img
            class="img-round"
            src="https://i.pravatar.cc/200?img=2"
            alt="image"
          />
        </div>
        <div class="code-box">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=blackboard&wt=none&l=text%2Fx-c%2B%2Bsrc&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520class%253D%2522img-round%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F200%253Fimg%253D2%2522%2520alt%253D%2522image%2522%253E"
            style="
              width: 100%;
              height: 205px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>

        <h1>Square Image with different sizes</h1>
        <div class="box">
          <img class="img-s" src="https://i.pravatar.cc/?img=2" alt="image" />
          <img class="img-m" src="https://i.pravatar.cc/?img=4" alt="image" />
          <img class="img-l" src="https://i.pravatar.cc/?img=12" alt="image" />
        </div>
        <div class="code-box">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=blackboard&wt=none&l=text%2Fx-c%2B%2Bsrc&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-s%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F%253Fimg%253D2%2522%2520alt%253D%2522image%2522%253E%250A%253Cimg%2520class%253D%2522img-m%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F%253Fimg%253D4%2522%2520alt%253D%2522image%2522%253E%250A%253Cimg%2520class%253D%2522img-l%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F%253Fimg%253D12%2522%2520alt%253D%2522image%2522%253E"
            style="
              width: 100%;
              height: 242px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
      </div>
    </main>
  </body>
</html>
