.grid-50-50-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

.grid-50-50-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: auto;
}

.grid-c3-r1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}

.grid-c3-r2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: auto;
}

.grid-c70-c30{
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: 100%;
    height: auto;
}

.padding-5{
    padding: 5px;
}