/* //////////slider////////////// */

.slider-range {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  font-size: medium;
  padding-bottom: 5px;
  cursor: pointer;
}

.simple-slider {
  width: 15rem;
}

/* //////////styled slider///////// */

.styled-slider {
  appearance: none;
  background: var(--light-gray);
  cursor: pointer;
  width: 15rem;
  height: 5px;
  border-radius: 5px;
}

/* ///////////speaker slider///////// */
.speaker-slider {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
}
