<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vision UI : Docs</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header class="header-container">
      <h1 class="header-heading">Vision UI</h1>
      <div class="header-link">
        <p class="home-link"><a href="/index.html">Home</a></p>
      </div>
    </header>
    <main>
      <nav>
        <ul class="sidebar">
          <li class="sidebar-link active">
            <a class="sidebarlink" href="/Components/index.html">Get Started</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Avatar/avatar.html">Avatar</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Alert/alert.html">Alert</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Badge/badge.html">Badge</a>
          </li>
          <li class="sidebar-link">
            <a class="sidebarlink" href="/Components/Button/button.html">Button</a>
          </li>
          <li class="sidebar-link"><a class="sidebarlink" href="/Components/Card/card.html">Card</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="/Components/Image/image.html">Image</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="/Components/Input/input.html">Input</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Text Utilities</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Lists</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Navigation</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Model</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Rating</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Toast</a></li>
          <li class="sidebar-link"><a class="sidebarlink" href="">Grid</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
