<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision UI : Docs</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/Components/styles.css">
</head>
<body>  
    <header class="header-container"> 
        <h1 class="header-heading">Vision UI</h1>
        <div class="header-link">
            <p class="home-link"><a href="/index.html">Home</a></p>
        </div>
</header>
<main>
    <nav>
        <ul class="sidebar">
            <li class="sidebar-link active"><a href="/Components/index.html">Get Started</a></li>
            <li class="sidebar-link"><a href="/Components/Avatar/avatar.html">Avatar</a></li>
            <li class="sidebar-link"><a href="">Alert</a></li>
            <li class="sidebar-link"><a href="/Components/Badge/badge.html">Badge</a></li>
            <li class="sidebar-link"><a href="">Button</a></li>
            <li class="sidebar-link"><a href="">Card</a></li>
            <li class="sidebar-link"><a href="">Image</a></li>
            <li class="sidebar-link"><a href="">Input</a></li>
            <li class="sidebar-link"><a href="">Text Utilities</a></li>
            <li class="sidebar-link"><a href="">Lists</a></li>
            <li class="sidebar-link"><a href="">Navigation</a></li>
            <li class="sidebar-link"><a href="">Model</a></li>
            <li class="sidebar-link"><a href="">Rating</a></li>
            <li class="sidebar-link"><a href="">Toast</a></li>
            <li class="sidebar-link"><a href="">Grid</a></li>
        </ul>
        
    </nav>
</main>
</body>
</html>