.stacked-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 5px var(--font-color-secondary);
}

.stacked{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid var(--font-color-secondary) ;
}

.stacked-list-discription{
    padding-left: 1rem;
}

.nostyle-list{
    list-style: none;
}