.star-rating:hover{
    cursor: pointer;
}

.checked-star{
    color: var(--orange-color);
}

.static-rating{
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    color: var(--background-color);
    width: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}