.status-badge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  bottom: 17px;
  left: 50px;
  border: 2px solid white;
}

.number-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  bottom: 78px;
  left: 18px;
  border: 1px solid white;
  background-color: rgb(231, 15, 15);
  color: white;
}

.blue {
  background-color: blue;
}
.orange {
  background-color: rgb(255, 0, 191);
}

.online,
.green {
  background-color: green;
}

.offline {
  background-color: gray;
}

.dnd {
  background-color: red;
}

.icon {
  font-size: xx-large;
}

.code-box {
  display: flex;
  justify-content: center;
}
